{% extends 'base.html' %}
{% load filters %}

{% block title %}Blueprints{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-2 offset-7">
        <a class="btn btn-primary form-control" href="{% url 'blueprint_search' %}">Add Blueprint</a>
    </div>
</div>
<div class="row">
    <div class="col">
    </div>
</div>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Blueprint</th>
                    <th class="text-center">ID</th>
                </tr>
            </thead>
            <tbody>
                {% for blueprint in blueprints %}
                <tr>
                    <td class="">{{blueprint.name}}</td>
                    <td class="">{{blueprint.esiId}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
