{% extends 'base.html' %}

{% block title %}Eve Universe{% endblock title %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Tipo</th>
            <th>Tipo</th>
            <th>Materiais</th>
            <th>Instalação</th>
            <th>Custo de Produção</th>
            <th>Valor Mínimo de Venda</th>
            <th>Valor Atual em Jita</th>
            <th>Lucro Atual</th>
            <th>Estoque Atual</th>
            <th>Qtd/dia/slot</th>
            <th>Lucro/dia/slot</th>
            <th>30 dias</th>
            <th>"Custo Lote (1 dia)"</th>
            <th>Lucro/Custo</th>

            <!--
            <th>Valor mínimo de Venda</th>
            <th>Tem Blueprint?</th>
            -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock content %}
